.root {
  width: 84%;
  margin-top: 25px;
  margin-left: 16%;
  height: 100%;
  position: relative;
  background-color: #1F222A;
}

.panel {
  position: relative;
  background: none;
}

.header {
  color: #7C8088;
  //background-color: #333333;
  text-align: center;
  //line-height: 20px;
}
