# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
.idea
*.iml

build
dist
1366v
1920v
node_modules
ncp-debug.log
npm-debug.log
