.root {
  width: 86%;
  margin-left: 14%;
  height: 100%;
  position: relative;
  //background-color: rgba(255,255,255,0.2);
}

.panel {
  position: relative;
  background: none;
}

.header {
  //color: rgba(255,255,255,0.8);
  //background-color: #333333;
  text-align: center;
  //line-height: 20px;
}
