@import "../../colors";

.root {
  width: 12%;
  position: fixed;
  height: 100%;
  margin-top: 10px;
  img {
    margin-right: 10px;
    margin-bottom: 4px;
  }

  background-color: #2f333c;
  //height: 100%;
}

.menuName {
  //top: 12px;
  //padding-top: 12px;
  margin-right: 52%;
}

.menuName2 {
  //top: 12px;
  //padding-top: 12px;
  margin-right: 40%;
}

.menuName2Sub {
  //top: 12px;
  //padding-top: 12px;
  margin-left: 5%;
  //margin-right: 21%;
}
.menuName2Sub1 {
  //top: 12px;
  //padding-top: 12px;
  margin-left: 3%;
  margin-right: 21%;
}

.menuName2Sub2 {
  //top: 12px;
  //padding-top: 12px;
  margin-left: 0;
  margin-right: 18%;
}

.menuName2Sub3 {
  //top: 12px;
  //padding-top: 12px;
  margin-left: 17%;
  margin-right: 21%;
}

.menuIcon {
  //float: right;
  margin-right: 10px;
  font-size: 14px;
}

.subMenuIcon {
  margin-left: 20px;
}
