@import "../../colors";

.root {
  width: 12%;
  position: fixed;
}

.menu {
  list-style-type: none;
  //padding: 10px;
  overflow: hidden;
  top: 0;
  //width: 100%;
  li {
    a {
      display: block;
      font-size: 14px;
      text-align: left;
      padding: 8px 16px;
      text-decoration: none;
      //border-bottom: 1px solid;
      //background-color: rgba(255,255,255,0.1);
      &:hover {
        //color: rgba(255,255,255,0.8);
        color: $palette-yellow-a400;
      }
    }
  }
}

.active {
  //background-color: rgba(200,35,31,0.1);
  color: $palette-yellow-a200;
  a {
    color: $palette-yellow-a200;
  }
}
