body {
  font-family: 微软雅黑;
  overflow-x:hidden;
  background-color: #1F222A;
}

::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background-color: #1F222A;
}

::-webkit-scrollbar-thumb
{
  background-color: #242930;
}
